body{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#element{
    width: 300px;
    height: 300px;
    transition: .5s;
    background-color: blue;
}

#element.active{
    background-color: red;
}