/* Get the Open Sans  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

body button{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    cursor: pointer;
}

*{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    margin: 20px;
}